%h2 Editing membership
= render :partial => "form", :locals => {:membership => @membership}
%ul
	%li= link_to 'Show', @membership
	%li= link_to 'Back', memberships_path
	%li= link_to 'Destroy', @membership, :confirm => 'Are you sure?', :method => :delete	
