%h2 Listing memberships
- if !@memberships.empty?
  .memberships
    = render :partial => "membership", :collection => @memberships
  = will_paginate(@memberships)
- else
  %p There are no memberships to show yet.
= link_to 'New membership', new_membership_path