<p>
	<b>Description:</b>
	<%=h @product_request.description %>
</p>

<p>
	<b>Status:</b>
	<%=h @product_request.product_request_status.name %>
</p>


<%= link_to 'Edit', edit_product_request_path(@product_request) %> |
<%= link_to 'Back', product_requests_path %>
