
<h2>Listing Barter Board Categories</h2>

<table>
	<% @barter_board_categories.each do |category| %>
		<tr>
			<td><%=h category.name %></td>
			<td><%= link_to("Edit", edit_barter_board_category_path(category))%>
		</tr>
	<% end %>
</table>

<br />

<% if admin? %>
	<%= link_to "Create new Barter Board Category", new_barter_board_category_path %>
<% end %>