%h2 Volunteer Opportunities

%h4 Keep track of your hours!

%p If you decide to volunteer we ask that you please keep track of your hours! Keeping track of these hours can help our co-op get grants in the future. Soon we'll put a form up on this website so that you can track your hours through the site. Until then, paper and pencil works wonders.

- if admin?
	= link_to 'New volunteer_task', new_volunteer_task_path

#volunteer_tasks
	- @volunteer_tasks.each do |volunteer_task|
		= render :partial => "task", :locals => {:volunteer_task => volunteer_task}
				
		
			
	


