<p>
  <b>Name:</b>
  <%=h @volunteer_task.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @volunteer_task.description %>
</p>


<%= link_to 'Edit', edit_volunteer_task_path(@volunteer_task) %> |
<%= link_to 'Back', volunteer_tasks_path %>