<p>
  <b>Member:</b>
  <%=h @member_product_request_join.member_id %>
</p>

<p>
  <b>Product request:</b>
  <%=h @member_product_request_join.product_request_id %>
</p>


<%= link_to 'Edit', edit_member_product_request_join_path(@member_product_request_join) %> |
<%= link_to 'Back', member_product_request_joins_path %>