<table id="forum_table">
	<%= render :partial => "category", :locals => {:category => @forum_category, :all_discussions_link => false}%>
</table>

<br />

<% if admin? %>
	<%= link_to 'Edit', edit_forum_category_path(@forum_category) %> |
<% end%>
<%= link_to 'Back', forum_categories_path %>