
// MAIN COMPONENTS //

#wrapper
	width: 800px
	margin: 0px auto

//Brown trim region
#wrapper2
	background-color= !brown_trim
	margin: 0
	padding: 10px

#header
	padding-top: 60px
	padding-bottom: 60px
	text-align: center
	background-color= !hay_col1
	background: url(../images/sentry2.jpg)
	h1
		position: relative
		left: -84px
		top: -3px
		font-size: 38px
		font-family: fantasy
		img
			position: relative
			top: 20px
			width: 22%
			height: 22%
			padding: 0

#user_panel
	text-align: right
	left: 600px
	color: white
	p
		margin: 1px 0 5px 0
		font-size: 14px
	a
		color: #61DFD1

#content
	margin-top: 3px
	padding: 3.5em 5.5em 3.5em 1em
	background-color= !hay_col3
	div
		padding-bottom: 1.3em
	h2
		margin-bottom: 2em

// This just makes sure that columns don't interfere
#placeholder
	clear: both


// TABS STUFF //

#tabs_container
	//text-align: center

#tabs
	list-style: none
	padding: 0
	margin: 0.6em auto 5px auto
	li
		display: inline
		.active
			background-color= !hay_col3
			padding-bottom: 6px
		a
			margin: 0
			padding: 4px 0.8em 4px 0.8em
			color: black
			text-decoration: none
			font-size: 14px
			background-color= !hay_col1
			&:hover
				background-color= !hay_col2
			.active:hover
				background-color: white
	.spacer
		background-color: #9F9AA4



#home_content
	// Insert Stuff Here?

#home_sidebar
	float: left
	width: 100px
	margin: 30px 0 0 10px
	padding: 8px 15px 8px 10px
	position: relative
	left: -10px
	background-color= !hay_col1
	p
		padding: 0
		margin: 5px

#inner_home_content
	float: left
	width: 500px
	margin-left: 30px
	
#footer
	margin-top: 15px
	padding-bottom: 25px
	//background-color: black
	#image
		padding: 13px 0 5px 200px
		float: left
		width: 150px
		img
			margin-left: 34px
		p
			font-size: 8px
			line-height: 9px
			position: relative
			top: -18px
			left: 23px
		a
			color: #4F4F4F
			&:hover
				color: #5F5F5F
	#text p
		text-align: center
		margin: 10px 230px 0 0
			
	
