<h2>New Barter Board Entry</h2>

<% form_for(@barter_board_entry) do |f| %>
	<%= render :partial => "entry_form", :locals => {:f => f} %>
  	<p>
	   <%= f.submit 'Create' %>
	</p>
<% end %>

<%= link_to 'Back', barter_board_entries_path %>