#textile_form
	%p 
		This form uses a formatting language called Textile to easily render spiffy web content. See the 
		%a(href="http://redcloth.org/hobix.com/textile/quick.html#fn1") quick reference.
		for help or select text and format it with the toolbar buttons.
	%p
		= textile_editor object, method
		%br/
		= textile_editor_initialize
