<div id="home_content">
	<div id="home_sidebar">
		<p><%= link_to("Home", "/")%></p>
		<p><%= link_to("FAQs", faqs_path)%></p>
		<p><%= link_to("Coop Board", board_members_path)%></p>
	</div>
	<div id="inner_home_content">
		<h2>Welcome to the SJI Food Coop Website!</h2>

		<div id="mission">
			<h3>Mission Statement</h3>
			<p>The San Juan Island Food Co-op's Mission is to establish an alternative food distribution framework - a community based, democratically managed, cooperatively owned grocery store that supports local and organic production, fosters conscientious consumption, and builds community connections.</p>
		</div>

		<div id="hours">
			<h3>Hours of Operation</h3>
			<table>
				<tr>
					<td><strong>Members: </strong></td>
					<td>24/7</td>
				</tr>
				<tr>
					<td><strong>Non Members: </strong></td>
					<td>Monday</td>
					<td>11-12</td>
				</tr>
				<tr>
					<td></td>
					<td>Tuesday</td>
					<td>10-12</td>
				</tr>
				<tr>
					<td></td>
					<td>Wednesday</td>
					<td>9:30-2</td>
				</tr>
				<tr>
					<td></td>
					<td>Thursday</td>
					<td>10-12</td>
				</tr>
				<tr>
					<td></td>
					<td>Friday</td>
					<td>11-12</td>
				</tr>
				<tr>
					<td></td>
					<td>Saturday</td>
					<td>1-2</td>
				</tr>
			</table>
		</div>

		<div id="contact">
			<h3>Contact Information</h3>
			<table>
				<tr>
					<td><strong>Address: </strong></td>
					<td>Surina Business Park, Malcom Street</td>
				</tr>
				<tr>
					<td></td>
					<td>Friday Harbor, WA 98250</td>
				</tr>
				<tr>
					<td><strong>Email: </strong></td>
					<td>sanjuancoop@gmail.com</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div id="placeholder">
	</div>
</div>
