
%h2 Welcome to the SJI Food Co-Op Website!

- unless logged_in?
	%h5 
		Thanks for visiting! If you are a coop user you are invited to
		= link_to("sign up", "/signup")
		or 
		= link_to("login", "/login")
		in order to get full access to all of this web site's features. If you are not yet a user, you can find out about becoming one
		= link_to("here.", "/content/becoming_a_user")




.apple= image_tag("apple.png", :alt => "apple")

.right_div
	#hours
		%h3 Hours of Operation
		%table
			%tr
				%td <strong>Users: </strong>
				%td 24/7
			%tr
				%td <strong>Non Users: </strong>
				%td Every Day from 11 to 1 (often later on Wednesdays to accommodate the order arrival)


	#contact
		%h3 Contact Information
		%table
			%tr
				%td <strong>Address: </strong>
				%td Surina Business Park, Malcom Street
			%tr
				%td/
				%td Friday Harbor, WA 98250
			%tr
				%td <strong>Email: </strong>
				%td 
					%a(href="mailto:sanjuancoop@gmail.com") sanjuancoop (at) gmail.com
	
	
.clear_div
	#mission.content
		%h3 Mission Statement
		%p The San Juan Island Food Co-op's Mission is to establish an alternative food distribution framework - a community based, democratically managed, cooperatively owned grocery store that supports local and organic production, fosters conscientious consumption, and builds community connections.	
	%h5 
		If you find any troubles with or have questions about the site, please send an email to 
		%a(href="mailto:sanjuancoop@gmail.com") sanjuancoop@gmail.com
		and we will try to take care of the issues you are are having as soon as possible.
