%p Your account has been created. Below are your user name and password.

%p 
	Username: 
	=h @member.login
	%br/
	Password: 
	=h @member.password

%p Please store these for safekeeping in case you forget them.

%p 
	To activate your account please visit this url:
	=h @url

%p
	Sincerely,
	%br/
	Reginald
	%br/
	Coop Website Robot