%h2= "ForumTopicSubscription \"#{@forum_topic_subscription.to_param}\""
- content_tag_for :div, @forum_topic_subscription do
	%ul
		%li
			%strong User:
			=h @forum_topic_subscription.member_id
		%li
			%strong Forum topic:
			=h @forum_topic_subscription.forum_topic_id
%ul
	%li= link_to 'Edit', edit_forum_topic_subscription_path(@forum_topic_subscription)
	%li= link_to 'Back', forum_topic_subscriptions_path
