= form_for :action => 'change_password' do |f|
	%fieldset
		%dl
			%dt
				%label(for="old_password" class="block") Old Password
			%dd= password_field_tag "old_password", @old_password, :size => 45, :class => "text"
			
			%dt 
				%label(for="password" class="block") New Password
			%dd= password_field_tag "password", @password, :size => 45, :class => "text"
			
			%div
				%small Between 4 and 40 Characters
				
			%dt
				%label(for="password_confirmation" class="block") Confirm New Password
			%dd= password_field_tag 'password_confirmation', {}, :size => 45, :class => 'text'
	
		%= submit_tag "Change Password"
	
				